@font-face {
    font-family: Gbold;                    
    src: url('../fonts/Gbold.otf');

}
@font-face {
    font-family: Glight;
    src: url('../fonts/Glight.otf');

}
@font-face {
    font-family: Gmedium;
    src: url('../fonts/Gmedium.otf');

}
@font-face {
    font-family: Gregular;
    src: url('../fonts/Gregular.otf');
}


body {   font-family: Gregular , san-serif;
    background-image: url('../images/bg.png');
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track { 
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }
.card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    height: 300px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    width: 300px;
}
.card:hover {
    height: 450px;
    width: 300px;
}
.card:hover .cta-container {
    display: inline;
    margin-top: 380px;
}
.card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
}
.card:hover h2 {
    background: #3487f7;
    color: #fff;
    margin-top: 100px;
    padding: 5px;
}
.card:hover h2 small { color: #fff }
.card:hover p { margin-top: 300px }
.card_circle {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #3487f7;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -270px;
    position: absolute;
    width: 450px;
}
h2 {
    color: #3487f7;
    font-family: Gbold, sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
p {
    font-family: Gregular, sans-serif;
    font-size: 100%;
    font-weight: normal;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    z-index: 9999;
    color: rgba(0,0,0,.6);
}
.cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #3487f7;
    border-radius: 2px;
    color: #3487f7;
    display: inline-block;
    font-family: Gmedium, sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-color: #3487f7;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.articlepanel{
    width: 80%;
    height: 100%;
    background: #fff;
    z-index: 10000;
    position:fixed;
    top: 0;
    overflow: scroll;
    left: 0;
    margin-left: 10%;
}

.button123-div{
    position: fixed;
    text-align: center;
    width: inherit;
    background: #fff;
    bottom: 0;
}


.footer{
    width: 80%;
    margin: auto;
    height: 400px;
    background: #000;
}
._para p{
    margin: 20px;
    font-size: 20px;
}

.header{
    background-color: #363636;
    width: 80%;
    margin: auto;
    margin-top: 0px;
    height: 150px;
    border-width: 0px;
    border-bottom-width: 3px;
    border-style: solid;
    border-color: #00aeef;
}
.header h1{
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 50px;
    font-family: Gbold;
    color: #00aeef;
}
.footer{
    background-color: #363636;
    width: 80%;
    margin: auto;
    margin-top: 0px;
    height: 150px;
    border-width: 0px;
    border-top-width: 3px;
    border-style: solid;
    border-color: #00aeef;
}

.footer h4{
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 50px;
    font-family: Glight;
    color: #00aeef;
}